.box {
    vertical-align: middle;
    background-color: lightgray;
    position: fixed; /* or absolute */
    left: 50%; /* top left corner will be in middle of page*/
    min-height: 500px;
    width: 600px;
    margin-left: -300px; /* half the width, minus means moved to left */
}
.title {
    text-align: center;
    background-color: darkseagreen;    
}


.tableCheckbox {
    background-color: white;
    text-align: right;    
}
.center {text-align: center;}