
<div class="title"><h1>{{ active.title }}</h1></div>



<!--<hr/>-->


<div>
    <!-- {{message.$value}}for children with one value -->
    <!-- {{message.value}} for children with multiple keys/values -->
<!--        <p class="center"><i>all tasks:</i> | <span ng-repeat="task in active.allMessages">{{ task.value }} | </span></p>-->




    <table id="table-active">
        <tr>
            <th>task</th>
            <th class="center"><u>priority</u></th>
            <th class="center">due</th>          
<!--            <th class="tableCheckbox center">click <span class="ion-checkmark-circled"></span> to complete</th>-->
            <th class="tableCheckbox center">click <i class="fa fa-check-square-o"></i> to complete</th>
        </tr>

        <tr ng-repeat="task in active.allMessages" 
            ng-show="!active.Message.calcOverdue(active.Message.calcDueDate(task.dateAdded)) && !task.completed"  >
            <td> {{ task.value }} </td>
            <td class="center"> {{ task.priority | priority }} </td>
            <td class="center"> {{ active.Message.calcDueDate(task.dateAdded) | date: 'EEE' }} </td>              
            <td class="center pointer" ng-show="{{ !task.completed }}">
<!--                <a ng-click="active.Message.checkOff(task)" ><span class="ion-checkmark-circled"></span></a>-->
                <a ng-click="active.Message.checkOff(task)" ><i class="fa fa-check-square-o"></i></a>
            </td>
        </tr>
    </table>
</div>
    
